$green-dark: #008385;
$white: #ffffff;
$green-0: #f0fafa;
$load-bg: #cfcfcf;
$load-col: #01a4a6;
$grey-col: #414246;
$bold-font: "TheSans Spire Bold";
$light-font: "TheSans Spire Light";
$lato-font: "Lato-Regular";
$star-size: 16px;
$font-s-16: 16px;
$bar-radius: 4px;

@mixin btn-style {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-family: "TheSans Spire Bold";
  box-sizing: border-box;
  border: 0;
  line-height: 1;
  display: inline-block;
  padding: 7px 10px 8px 10px;
  color: #fff;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  outline: 0;
}

@mixin btn-dark-green {
  padding: 11px 31px !important;
  border-radius: 21.5px;
  background-color: #008385;
  color: #fff;
}

// Component style ==========================================================
.cc-optimize {
  // Helper classes
  .lime-turq {
    color: #19ccbb;
  }

  // Re-styling existing elements
  // Hide Elements
  .cc-hide,
  section.news-feed.hide-news,
  .cc-hide-label > div > label,
  .cc-hide-select .select-wrapper {
    display: none;
  }

  .site-content {
    overflow: hidden;
  }

  .enquiry-form__content {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(125, 125, 125, 0.3);
    box-shadow: 0px 0px 15px 0px rgba(125, 125, 125, 0.3);
    margin-bottom: 98px;
  }

  .enquiry-form__tabs__content__inner__container {
    max-width: 918px;
    padding: 20px 0 26px 0;
  }

  .grid.cc-0 {
    display: grid;
    .cc-4 {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  .cc-4 .select-wrapper,
  .cc-6 .grid .field-inner,
  .cc-7 .grid .field-inner {
    max-width: 490px;
  }
  .cc-6 .grid__cell:first-child .select-wrapper {
    max-width: 210px;
  }
  .cc-7 > .grid {
    display: grid;
    > .grid__cell:last-child {
      grid-area: 1/1/2/2;
    }
  }
  .cc-8 hr {
    border-top: 1px solid #cfcfcf;
  }
  .cc-12 {
    display: flex;
    padding: 0 16px;
  }

  .site-header__fixed > section {
    background-color: #01a4a6 !important;
  }
  .site-content .enquiry-form .enquiry-form__tabs {
    padding-top: 0 !important;
  }

  header.enquiry-form__header.cc-header-append {
    background-image: url("https://i.postimg.cc/w6gqdq81/form-bg.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: inherit;
    background-size: 100vw;
    .inner-area {
      nav,
      div {
        display: none;
      }
    }
  }

  // Style new elements ==========================================================
  // Header banner
  .cc-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    .cc-header-inner {
      max-width: 1120px;
      width: 100%;
      margin: 0 auto;
      background: #fff;
      padding: 46px 62px;
      -webkit-box-shadow: 0 0 28px 0 rgb(0 0 0 / 20%);
      box-shadow: 0 0 28px 0 rgb(0 0 0 / 20%);
      position: relative;
      margin-top: 24px;
      h1 {
        font-size: 46px;
        line-height: 1;
        font-weight: 100;
      }
      p {
        font-size: 20px;
        margin: 0;
        font-weight: 100;
      }
    }
  }

  // Step Bar
  .cc-nav-bar {
    margin-bottom: 32px;

    .cc-inner-nav {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      justify-content: center;
      align-items: center;
      letter-spacing: 0;
      margin: 0 auto;

      span.cc-circle {
        height: 38px;
        width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #16ccbb;
        border-radius: 50%;

        span {
          height: 30px;
          width: 30px;
          background-color: #00a3a5;
          display: inline-block;
          border-radius: 50%;
        }
      }
      span.cc-line {
        width: min(65vw, 648px);
        hr {
          border-top: 1px solid $load-bg;
        }
      }
    }
    .cc-pages {
      grid-area: 2/1/3/4;
      display: flex;
      justify-content: space-between;
      max-width: min(85vw, 790px);
      width: 100%;
      margin: 0 auto;
    }
  }

  div[class*="cc-sec-title"] {
    margin-bottom: 28px;
  }

  p.cc-desc-mandatory {
    margin: 0 0 16px 10px;
  }

  div[class*="cc-sec-title"] > h6 {
    font-family: $bold-font;
    background-color: $green-dark;
    padding: 20px 16px;
    margin-bottom: 0;
    color: $white;
    line-height: 1;
  }

  // Step 1 Styling
  &.cc-step-1 {
    // Nav step 2 un-tick
    .cc-nav-bar {
      .cc-inner-nav {
        .cc-step-2-circle .cc-circle {
          opacity: 0.5;
          border: 1px solid $grey-col;
          span {
            display: none;
          }
        }
      }
      .cc-step-2 {
        opacity: 0.5;
      }
    }
    .cc-5,
    .cc-6,
    .cc-7,
    .cc-8,
    .cc-9,
    .cc-10,
    .cc-11,
    .cc-12 > div {
      display: none;
    }

    .cc-1 .enquiry-form__tabs__content__inner__container__element,
    .cc-2 .enquiry-form__tabs__content__inner__container__element {
      margin: 0 16px 48px 16px;
    }
    .cc-3 .enquiry-form__tabs__content__inner__container__element,
    .cc-4 .enquiry-form__tabs__content__inner__container__element {
      margin-left: 16px;
      margin-right: 16px;
    }

    .cc-3 {
      .enquiry-form__tabs__content__inner__container__element textarea {
        resize: none;
      }
      .enquiry-form__tabs__content__inner__container__element {
        margin-bottom: 0;
      }
    }

    .cc-step-btn {
      max-width: 154px;
      width: 100%;
      @include btn-style;
      @include btn-dark-green;
    }

    .cc-step-btn:hover {
      background-color: #00a4a6;
      text-decoration: underline;
    }
  }

  // Step 2 Styling
  &.cc-step-2 {
    .cc-1,
    .cc-2,
    .cc-3,
    .cc-4,
    .cc-5 {
      display: none;
    }

    .cc-6 .enquiry-form__tabs__content__inner__container__element,
    .cc-7 .enquiry-form__tabs__content__inner__container__element {
      margin: 0 16px 20px 16px;
    }
    .cc-6 {
      .enquiry-form__tabs__content__inner__container__element--dob .select-wrapper--dob {
        width: auto;
      }
    }
    .g-recaptcha.cc-10 {
      padding: 0 16px;
    }

    .cc-12 {
      .enquiry-form__submit {
        margin-bottom: 0;
      }
    }

    span.dark-turq {
      color: #01a4a6 !important;
      border: 2px solid #01a4a6;
      height: 12px;
      width: 12px;
      font-size: 12px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
    }

    .cc-read-more {
      color: #008385;
      cursor: pointer;
    }
    // ==
    .cc-step-btn {
      border: none;
      border: 1px solid #19ccbb;
      padding: 11px 31px !important;
      border-radius: 21.5px;
      background-color: $green-0;
      color: #008385;
      font-family: "TheSans Spire Bold";
      box-sizing: border-box;
      line-height: 1;
      max-height: 38px;
    }
  }

  .cc-btn-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
    gap: 12px;

    button {
      background-color: $green-0;
      border: 1px solid #19ccbb;
      border-radius: 3px;
      color: #626262;
    }
    button.cc-active {
      background-color: #00a4a6;
      color: #ffffff;
    }
  }

  // Review section ==========================================================
  .cc-review-section {
    background-color: $green-0;

    * {
      margin: 0;
      box-sizing: border-box;
      line-height: 1.3;
    }

    .cc-review-inner {
      padding: 58px 20px;
      width: 100%;
      max-width: 1002px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 186px auto;
      grid-template-rows: repeat(3, auto);
      align-items: center;

      // Review Intro
      .cc-feedback {
        grid-area: 1 / 1 / 2 / 3;
        margin-bottom: 30px;
        h3 {
          margin-bottom: 22px;
          font-size: 34px;
          font-weight: 100;
          font-family: Lato-Light;
        }
        p {
          font-size: 19px;
          max-width: 944px;
        }
      }
      // Review section: LEFT
      .cc-recommend {
        grid-area: 2/ 1/ 3/ 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3,
        p {
          max-width: 182px;
        }
        p {
          font-size: 16px;
        }

        .cc-rec-stars {
          background: url("https://www.spirehealthcare.com/dist/images/ui/StarRatingSprite.png") repeat-x;
          font-size: 0;
          height: 28px;
          line-height: 0;
          overflow: hidden;
          width: 150px;
          margin: 0 auto;
          margin-bottom: 10px;
          .cc-stars {
            background: url("https://www.spirehealthcare.com/dist/images/ui/StarRatingSprite.png") repeat-x;
            background-position: 0 100%;
            float: left;
            height: 28px;
            display: block;
          }
        }
      }
      // Review section: RIGHT
      .cc-review-bars {
        grid-area: 2/ 2/ 3/ 3;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $load-bg;
        padding-left: 22px;
        gap: 6px;

        .cc-row-wrap {
          display: grid;
          grid-template-columns: -webkit-max-content 180px auto 50px;
          grid-template-columns: max-content 180px auto 50px;
          grid-auto-rows: 16px;
          gap: 8px;

          > span {
            font-size: 16px;
          }

          .cc-bar-wrap {
            background: $load-bg;
            width: 100%;
            border-radius: $bar-radius;
            max-width: 446px;
            margin: 0 auto;
            overflow: hidden;
            span {
              display: block;
              background-color: $load-col;
              height: 100%;
              border-radius: $bar-radius;
            }
          }
          span:last-child {
            text-align: center;
          }
          .cc-star {
            display: inline-block;
            background-image: url("https://www.spirehealthcare.com/dist/images/ui/StarEmpty.png");
            background-repeat: no-repeat;
            background-size: contain;
            height: $star-size;
            width: $star-size;
          }

          .cc-checked-star {
            display: inline-block;
            background-image: url("https://www.spirehealthcare.com/dist/images/ui/StarFilled.png");
            background-repeat: no-repeat;
            background-size: contain;
            height: $star-size;
            width: $star-size;
          }
        }
      }
      // Review section CTA
      .cc-btn-container {
        grid-area: 3 / 1 / 4 / 3;
        text-align: center;
        margin-top: 40px;
        a {
          @include btn-style;
          @include btn-dark-green;
        }
        a:hover {
          background-color: #00a4a6;
          text-decoration: underline;
        }
      }
    }
  }

  // Mobile Responsive
  @media only screen and (max-width: 767px) {
    // Header
    .cc-header {
      .cc-header-inner {
        padding: 30px;
        margin-top: 20px;
        h1 {
          font-size: 28px;
          margin-bottom: 16px;
        }
        p {
          font-size: 18px;
        }
      }
    }

    // Nav steps
    .cc-nav-bar {
      margin-bottom: 16px;
      .cc-inner-nav {
        span.cc-circle {
          height: 30px;
          width: 30px;
          span {
            height: 22px;
            width: 22px;
          }
        }
      }
      .cc-pages {
        span {
          font-size: 14px;
        }
      }
    }

    // Form section
    p.cc-desc-mandatory {
      margin: 0 0 12px 10px;
      font-size: 14px;
    }

    &.cc-step-1 {
      .cc-1 .enquiry-form__tabs__content__inner__container__element,
      .cc-2 .enquiry-form__tabs__content__inner__container__element {
        margin: 0 10px 20px 10px;
      }
      .cc-3 .enquiry-form__tabs__content__inner__container__element,
      .cc-4 .enquiry-form__tabs__content__inner__container__element {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    &.cc-step-2 {
      .cc-6 .enquiry-form__tabs__content__inner__container__element,
      .cc-7 .enquiry-form__tabs__content__inner__container__element {
        margin: 0 10px 20px 10px;
      }

      .g-recaptcha.cc-10 {
        padding: 0 12px;
      }
    }

    div[class*="cc-sec-title"] > h6 {
      padding: 14px 10px;
      line-height: 1.3;
    }
    .cc-btn-wrap {
      grid-template-columns: 1fr;
      grid-auto-rows: 46px;
    }

    .cc-12 {
      padding: 0 12px;
      display: flex;
      flex-direction: column-reverse;
      gap: 12px;
      .cc-step-btn {
        max-width: 100%;
      }
      .enquiry-form__button-container {
        margin: 0;
      }
    }
    .enquiry-form__content {
      margin-bottom: 48px;
    }
    // Review section ==========================================================
    .cc-review-section {
      .cc-review-inner {
        // padding: 10.625vw 20px 12.5vw 20px;
        padding: 34px 20px 40px;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        .cc-feedback {
          h3 {
            margin-bottom: 18px;
            font-size: 28px;
          }
          p {
            font-size: 18px;
          }
        }
        .cc-recommend {
          grid-area: 2/1/3/3;
          margin-bottom: 32px;
          h3,
          p {
            max-width: 100%;
          }
        }
        .cc-review-bars {
          grid-area: 3/1/4/3;
          display: flex;
          flex-direction: column;
          border-left: unset;
          padding-left: 0;
          gap: 10px;
          .cc-row-wrap {
            display: grid;
            grid-template-columns: max-content auto;
            grid-template-rows: repeat(3, auto);
            grid-auto-rows: unset;
            gap: 10px;

            .cc-star-wrap {
              grid-area: 1/1/2/2;
            }
            span {
              grid-area: 1/2/2/3;
            }
            .cc-bar-wrap {
              grid-area: 2/1/3/3;
              height: 16px;
              max-width: 100%;
            }
            span:last-child {
              text-align: left;
              grid-area: 3/1/4/3;
            }
          }
        }
        .cc-btn-container {
          grid-area: 4/1/5/3;
          text-align: center;
          //   margin-top: 9.375vw;
        }
      }
    }
  }
}
