$green-dark: #008385;
$white: #ffffff;
$green-0: #f0fafa;
$load-bg: #cfcfcf;
$load-col: #01a4a6;
$bold-font: "TheSans Spire Bold";

.cc-optimize {
  // Hide Elements
  section.news-feed,
  .cc-hide-label > div > label,
  .cc-hide-select .select-wrapper {
    display: none;
  }

  // Re-styling existing elements ==========================================================
  .enquiry-form__content {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(125, 125, 125, 0.3);
    box-shadow: 0px 0px 15px 0px rgba(125, 125, 125, 0.3);
    margin-bottom: 98px;
  }

  .enquiry-form__tabs__content__inner__container {
    max-width: 938px;
    padding: 24px 0;
  }

  .grid.cc-0 {
    display: grid;
    .cc-4 {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  // Style new elements ==========================================================
  div[class*="cc-sec-title"] {
    margin-bottom: 28px;
  }

  p.cc-desc-mandatory {
    margin-bottom: 16px;
  }

  div[class*="cc-sec-title"] > h6 {
    font-family: $bold-font;
    background-color: $green-dark;
    padding: 20px 16px;
    margin-bottom: 0;
    color: $white;
  }

  //   Step 1 Styling
  &.cc-step-1 {
    .cc-5,
    .cc-6,
    .cc-7,
    .cc-8,
    .cc-9,
    .cc-10,
    .cc-11,
    .cc-12 > div {
      display: none;
    }

    .cc-1 .enquiry-form__tabs__content__inner__container__element,
    .cc-2 .enquiry-form__tabs__content__inner__container__element {
      margin: 0 22px 48px 22px;
    }

    .cc-step-btn {
      border: none;
      border: 1px solid #008385;
      padding: 11px 31px !important;
      border-radius: 21.5px;
      background-color: #008385;
      color: #fff;
      font-family: "TheSans Spire Bold";
      box-sizing: border-box;
      line-height: 1;
    }
  }

  //   Step 2 Styling
  &.cc-step-2 {
    .cc-1,
    .cc-2,
    .cc-3,
    .cc-4,
    .cc-5 {
      display: none;
    }
    .cc-step-btn {
      border: none;
      border: 1px solid #19ccbb;
      padding: 11px 31px !important;
      border-radius: 21.5px;
      background-color: $green-0;
      color: #008385;
      font-family: "TheSans Spire Bold";
      box-sizing: border-box;
      line-height: 1;
    }
  }

  .cc-btn-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
    gap: 12px;

    button {
      background-color: $green-0;
      border: 1px solid #19ccbb;
      border-radius: 3px;
      color: #626262;
    }
  }
  // Review section
  .cc-review-section {
    background-color: $green-0;

    * {
      margin: 0;
      box-sizing: border-box;
    }

    .cc-review-inner {
      padding: 58px 0;
      width: 100%;
      max-width: 1002px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 186px auto;
      grid-template-rows: repeat(3, auto);
      // Review Intro
      .cc-feedback {
        grid-area: 1 / 1 / 2 / 3;
      }
      // Review section: LEFT
      .cc-recommend {
        grid-area: 2/ 1/ 3/ 2;
        text-align: center;
        .cc-rec-stars {
          background: url("https://www.spirehealthcare.com/dist/images/ui/StarRatingSprite.png") repeat-x;
          font-size: 0;
          height: 28px;
          line-height: 0;
          overflow: hidden;
          width: 150px;
          margin: 0 auto;
          margin-bottom: 10px;
        }
        .cc-stars {
          background: url("https://www.spirehealthcare.com/dist/images/ui/StarRatingSprite.png") repeat-x;
          background-position: 0 100%;
          float: left;
          height: 28px;
          display: block;
        }
      }
      // Review section: RIGHT
      .cc-review-bars {
        grid-area: 2/ 2/ 3/ 3;
        display: flex;
        flex-direction: column;

        .cc-row-wrap {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          .cc-bar-wrap {
            background: $load-bg;
            width: 100%;
            border-radius: 5px;
            span {
              display: block;
              background-color: $load-col;
              height: 100%;
              border-radius: 5px;
            }
          }
          .cc-star {
            display: inline-block;
            background-image: url("https://www.spirehealthcare.com/dist/images/ui/StarEmpty.png");
            background-repeat: no-repeat;
            background-size: contain;
            height: 14px;
            width: 14px;
          }

          .cc-checked-star {
            display: inline-block;
            background-image: url("https://www.spirehealthcare.com/dist/images/ui/StarFilled.png");
            background-repeat: no-repeat;
            background-size: contain;
            height: 14px;
            width: 14px;
          }
        }
      }
      // Review section CTA
      .cc-btn-container {
        grid-area: 3 / 1 / 4 / 3;
        text-align: center;
      }
    }
  }
}
